page-cards {
    ion-row{
        font-size: 15px;
        background-color: antiquewhite;
    }

    body{
        background-color: bisque !important;
    }
}



.toolbar-background {
    background-color: brown
}

ion-col {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.lp-back {
    background-color: antiquewhite
}